/* *{
  margin:0;
  padding:0;
  text-decoration: none;
}
.containerr{
  display:flex;
}
main{
  width: 100vw;
}

.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  color: #000;
}
.icon, .link_text{
  font-size: 15px;
} */
.link{
  display: flex;
  color: #fff;
  gap: 15px;
  transition: all 0.5s;
}
.sidebar{
  background:#242A4A;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.bars:hover{
  cursor: pointer;
}